.nav-icon {
    font-size: 18px;
}
.technologies {
    margin-top: 160px;
    background-color: white;
    max-width: 600px;
    padding: 30px 10px 15px;
    border-radius: 10px;
}
.icons {
    margin: 50px auto 20px auto;
}
i {
    font-size: 40px;
    transition: all 200ms ease-in-out;
}
i:hover {
    transform: scale(1.4);
}
.icon {
    max-height: 40px;
}
.icon:hover {
    transform: scale(1.4);
}
.html {
    color: orangered;
}
.css {
    color: rgb(60,156,215);
}
.js {
    color: rgb(241,191,34);
}
.react {
    color: rgb(81,228,255);
}
.git {
    color: rgb(141, 14, 141);
}
.bootstrap {
    color: rgb(111,17,244);
}
.linked {
    color: rgb(3,113,174);
}
.sections {
    margin-top: 40px;
    max-width: 300px;
    background-color: white;
    border: 2px solid var(--background-color);
    border-radius: 10px;
    padding: 20px;
}
.astronaut{
    font-size: 80px;
    transition: transform 2s;
    background:-moz-linear-gradient(top, #cfdccd 0%, #f68b8f 100%); 
    background: -webkit-linear-gradient(top, #cfdccd 0%,#f68b8f 100%); 
    background: linear-gradient(to bottom, #cfdccd 0%,#f68b8f 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
}
.astronaut:hover {
    transform: rotate(720deg);
}
.arrow {
    font-size: 80px;
    transition: transform 1s;
    background:-moz-linear-gradient(top, #cfdccd 0%, #f68b8f 100%); 
    background: -webkit-linear-gradient(top, #cfdccd 0%,#f68b8f 100%); 
    background: linear-gradient(to bottom, #cfdccd 0%,#f68b8f 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
}
.arrow:hover {
    transform: translate(20px, 20px);
}
@media (max-width:576px) {
    .icons {
        font-size: 14px;
    }
    i {
        font-size: 30px;
    }
    .icon {
        max-height: 30px;
    }
}