:root {
    --branding-color: #FE0DAC;
    --background-color: #F7FDFE;
    --title-font: 'Playfair Display', serif;
}
body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
h1 {
    font-family: var(--title-font);
    font-size: 96px;
}
h2 {
    font-size: 36px;
    font-weight: 700;
}
h3 {
    font-family: var(--title-font);
}
h4 {
    font-size: 24px;
    font-weight: 400;
    color: #272142;
    opacity: 0.7;
}
.hero {
    text-align: center;
    margin: 60px 20px 0 20px;
    border: 5px double rgb(39, 33, 66, 0.7);
    padding: 180px 0px;
}
.technologies {
    margin-top: 200px;
}
.icons {
    margin: 87px auto 150px auto;
    max-width: 700px;
}
i {
    font-size: 40px;
}
.icon {
    max-height: 40px;
}
.html {
    color: orangered;
}
.css {
    color: rgb(60,156,215);
}
.js {
    color: rgb(241,191,34);
}
.react {
    color: rgb(81,228,255);
}
.git {
    color: rgb(141, 14, 141);
}
.bootstrap {
    color: rgb(111,17,244);
}
.carousel-img {
    max-height: 400px;
}
.caption {
   margin-top: 40px !important;
}
.carousel-indicators {
    position: relative;
    top: 450px !important;
}
.work {
    margin: 200px auto 105px;
    max-width: 800px;
    background-color: var(--background-color);
    border-radius: 20px;
    padding: 49px 90px;
}
.lets-talk {
    background-color: var(--branding-color);
    color: black;
    text-decoration: none;
    padding: 18px 30px;
    border-radius: 5px;
}
.lets-talk:hover {
    background-color: #aaecf8;
}
.lets-talk:active {
    background-color: #63e6fd;
    box-shadow: 0 5px rgb(179, 179, 179);
    transform: translateY(4px);
  }
.mail {
    padding-bottom: 75px;
    color: black;
    text-decoration: none;
}
@media (max-width:768px) {
    h1{
        font-size: 66px;
    }
}
@media (max-width:576px) {
    h1 {
        font-size: 46px;
    }
    h2 {
        font-size: 26px;
    }
    h4 {
        font-size: 20px;
    }
    .icons {
        margin: 87px auto 200px auto;
        font-size: 14px;
    }
    i {
        font-size: 30px;
    }
    .icon {
        max-height: 30px;
    }
    .work {
        padding: 39px 70px;
    }
    .work p {
        display: none;
    }
    .lets-talk {
        display: flex;
        justify-content: center;
    }
    .text-start {
        text-align: center !important;
    }
    .mail {
        font-size: 1.0rem;
    }
}
