:root {
    --branding-color: rgb(246,139,143);
    --background-color: rgb(207,220,205);
    --link-hover-color: rgb(239,218,170);
    --title-font:'Lobster Two', cursive;

}
body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1 {
    font-family: var(--title-font);
    font-size: 96px;
}
h2 {
    font-size: 36px;
    font-weight: 700;
}
h3 {
    font-family: var(--title-font);
}
h4 {
    font-size: 24px;
    font-weight: 400;
    color: #272142;
    opacity: 0.7;
}
.navbar-brand {
    font-family: var(--title-font);
}
.invisible {
    color: white;
}
.focus {
    color: var(--branding-color) !important;
}
.hero {
    background-color: rgb(246,139,143, 0.2);
    background-image: url("/photos/cact22.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 56px 0px 0px 0px;
    border: 2px double rgb(39, 33, 66, 0.1);
    padding: 150px 0px;
}
.fill-screen {
    background-color: var(--background-color);
    padding: 10px 0px 40px;
}
.carousel-img {
    max-height: 400px;
}
.caption {
   margin-top: 40px !important;
}
.carousel-indicators {
    position: relative;
    top: 450px !important;
}
.nopal {
    background-image: url("/photos/cacti823.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px 20px 110px;
}
.work {
    margin: 200px auto 105px;
    max-width: 500px;
    background-color: var(--background-color);
    border-radius: 20px;
    padding: 38px 40px;
}
.button {
    background-color: var(--branding-color);
    color: white;
    text-decoration: none;
    padding: 18px 30px;
    border-radius: 5px;

}
.button:hover {
    background-color: rgb(239,218,170);
    color: white;
}
.button:active {
    background-color: rgb(248,231,150);
    box-shadow: 0 5px rgb(179, 179, 179);
    transform: translateY(4px);
  }
.mail {
    padding-bottom: 20px;
    color: black;
    text-decoration: none;
}
.mail:hover {
    color: var(--branding-color);
}
.content {
    margin-top: 110px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
}
.introduction {
    font-size: 44px;
    padding-top: 40px;
}
.description {
    font-size: 16px;
    line-height: 1.8;
}
.picture {
    max-height: 360px;
    border-radius: 14px;
}
.app {
    background-color: rgb(207,220,205, 0.6);
    border: 1px solid rgb(246,139,143);
    border-radius: 18px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.col-sm-2 {
    padding: 0px !important;
    width: 20px !important;
}
.launch {
    color: var(--branding-color);
}
.launch:hover {
    color:black;
    cursor: pointer;
    background-color: var(--link-hover-color);
}
.launch:active {
    background-color: #63e6fd;
    box-shadow: 0 5px rgb(179, 179, 179);
    transform: translateY(4px);
  }
  .contact {
      background-image: url("/photos/cacti52.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 120px 20px 160px;
  }
  .contact-links {
    margin-top: 10px;
}
  .modal-body {
    text-align: left !important;
}
.btn-primary {
    background-color: var(--branding-color);
    border-color: var(--branding-color);
}
.code {
    font-size: 10px;
}
@media (max-width:768px) {
    h1{
        font-size: 66px;
    }
    .introduction {
        font-size: 34px;
    }
    .description {
        font-size: 14px;
        line-height: 1.8;
    }
    .text-start {
        text-align: center !important;
    }
}
@media (max-width:767px) {
    .work {
    max-width: 300px;
    }
}
@media (max-width:576px) {
    h1 {
        font-size: 46px;
    }
    h2 {
        font-size: 26px;
    }
    h4 {
        font-size: 20px;
    }
    .content {
        margin-top: 60px;
        text-align: center;
    }
    .picture {
        margin-top: 20px;
    }
    .weather {
        margin-top: 28px;
    }
    .work {
        padding: 39px 50px;
    }
    .work p {
        display: none;
    }
    .button {
        display: flex;
        justify-content: center;
    }
    .text-start {
        text-align: center !important;
    }
    .mail {
        font-size: 1.0rem;
    }
    .modal-body {
        text-align: left !important;
    }
    .nopal {
        background-image: url("/photos/cacti82.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 1px 20px 80px;
    }
}